body {
  position: relative; }

.wrapper {
  display: flex;
  width: 100%; }

#sidebar {
  width: 250px;
  height: 100vh;
  transition: all 0.5s;
  margin-right: 250px;
  position: fixed;
  z-index: 999; }
  #sidebar #sidebar-button {
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: center;
    text-align: center;
    background: #343A40;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 220px;
    top: 0px;
    transition: all 0.5s; }
  #sidebar h2 {
    border: none;
    margin-top: 30px;
    margin-left: 1rem;
    opacity: 1;
    transition: all 0.5s; }
  #sidebar .nav-link {
    padding: 0.2rem 1rem;
    color: #F8F9FA;
    opacity: 1;
    transition: all 0.5s; }
    #sidebar .nav-link.active {
      background: #515b64; }
  #sidebar.active {
    margin-left: -240px;
    margin-right: 30px; }
    #sidebar.active h2, #sidebar.active .nav-link {
      opacity: 0; }
    #sidebar.active #sidebar-button {
      left: 250px;
      top: 10px; }

#content {
  width: calc(100% - 280px);
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s; }
  #content.active {
    width: calc(100% - 40px); }

h1 {
  text-align: center;
  line-height: 2em;
  border-bottom: 2px solid #262626;
  border-top: 2px solid #262626;
  background: #ccdde3;
  margin-bottom: 2em; }

h2 {
  border-bottom: 2px solid #262626;
  margin-bottom: 1em;
  margin-top: 2em;
  line-height: 1.5em; }

h3 {
  margin-bottom: 0.5em;
  margin-top: 2em;
  font-size: 1.4em; }

.family-results {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  max-width: 100vw;
  overflow: visible; }

.family_size {
  font-weight: bold; }

.best_alignment {
  letter-spacing: 0.05em;
  font-weight: bold; }

.sequence {
  display: flex; }

.sequence_letter {
  display: inline-block;
  font-weight: bold;
  width: 0.9em;
  text-align: center; }

.similarity {
  margin-left: 2em;
  color: #717171;
  font-style: italic; }

.similarity-father {
  font-weight: bold; }

.color-scale {
  line-height: 1.5em; }

.frequency-color-scale, .restype-color-scale {
  font-weight: bold;
  padding: 0 10px;
  display: inline-block; }

.restype-color-scale {
  padding: 0 5px; }

.ansi_bgcolor-9 {
  background: #ff0000; }

.ansi_bgcolor-202 {
  background: #ff5f00; }

.ansi_bgcolor-214 {
  background: #ffaf00; }

.ansi_bgcolor-221 {
  background: #ffd75f; }

.ansi_bgcolor-224 {
  background: #ffd7d7; }

.ansi_color-0 {
  color: #000000; }

.ansi_color-235 {
  color: #262626; }

.ansi_color-63 {
  color: #5f5fff; }

.ansi_color-202 {
  color: #ff5f00; }

.ansi_color-20 {
  color: #0000d7; }

.ansi_color-31 {
  color: #0087af; }

.ansi_color-22 {
  color: #005f00; }

.ansi_color-52 {
  color: #5f0000; }

.ansi_color-214 {
  color: #ffaf00; }

.ansi_color-27 {
  color: #005fff; }

.ansi_color-39 {
  color: #00afff; }

.ansi_color-45 {
  color: #00d7ff; }

.sselem-sequence {
  display: flex; }
  .sselem-sequence > svg {
    height: 0.9em;
    width: 0.9em; }

svg.ssa {
  fill: #eb380d; }

svg.ss3 {
  fill: #a4200c; }

svg.ssp {
  fill: #caa622; }

svg.sss {
  fill: #5477df; }

svg.ssb {
  fill: #3a3abd; }

svg.ssv {
  fill: #a2a2a2; }

svg.sst {
  fill: #b32ccb; }

svg.sse {
  fill: #22a289; }

svg.ssc {
  fill: #37cb65; }

div.ss_legend {
  margin: 0.5em 1em; }
  div.ss_legend figure {
    display: inline-block;
    text-align: center;
    margin: 0 0.5em; }
  div.ss_legend figcaption {
    font-size: 0.8em;
    font-weight: bold; }
  div.ss_legend svg {
    height: 1em;
    width: 1em; }

table.property_table {
  padding: 0;
  font-size: 0.9em;
  width: auto; }
  table.property_table td, table.property_table th {
    padding: 0;
    vertical-align: middle;
    text-align: center; }
  table.property_table th:first-of-type div, table.property_table th.dl:first-of-type {
    border-left: 1px solid #dee2e6; }
  table.property_table th div, table.property_table td, table.property_table th.dl {
    border-right: 1px solid #dee2e6; }
  table.property_table tr:last-of-type {
    border-bottom: 1px solid #dee2e6; }
  table.property_table th.dl {
    height: 30px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    border-top: None; }
  table.property_table th.rch {
    border-top: None;
    border-bottom: None;
    height: 160px;
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    position: relative;
    vertical-align: bottom;
    padding: 0;
    line-height: 1em; }
    table.property_table th.rch span {
      transform: skew(45deg, 0deg) rotate(-45deg);
      position: absolute;
      bottom: 40px;
      /* 40 cos(45) = 28 with an additional 2px margin*/
      left: -25px;
      /*Because it looked good, but there is probably a mathematical link here as well*/
      display: inline-block;
      width: 85px;
      /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
      text-align: left;
      white-space: nowrap;
      /*whether to display in one line or not*/ }
    table.property_table th.rch div {
      position: relative;
      top: 0;
      left: 80.5px;
      /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
      height: 100%;
      transform: skew(-45deg, 0deg);
      border-top: 1px solid #dee2e6; }
  table.property_table td.row-header {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    border-left: 1px solid #dee2e6; }
  table.property_table td {
    height: 40px;
    width: 40px;
    overflow: hidden; }
    table.property_table td i.nodata {
      color: orange; }
    table.property_table td i.data {
      color: green; }

.hidden {
  display: none; }

.nobreak {
  white-space: pre-line;
  word-wrap: break-word; }

#prop-button {
  cursor: pointer; }

.busy {
  cursor: progress !important; }

.value-details {
  border: 3px solid #007bff;
  border-radius: 5px;
  width: 500px;
  margin: 2em; }
  .value-details h4, .value-details a.return-link {
    background: #007bff;
    line-height: 2em;
    text-align: center;
    color: white;
    font-size: 1.5em; }
    .value-details h4 h4 span, .value-details a.return-link h4 span {
      text-transform: capitalize;
      font-weight: bold; }
  .value-details a.return-link {
    display: block; }
    .value-details a.return-link:hover {
      background: #0056b3; }
  .value-details p {
    margin-left: 10px;
    margin-bottom: 0;
    font-weight: bold; }
    .value-details p.nodata {
      line-height: 2.5em;
      text-align: center;
      font-size: 1.3em; }

.seqlogo {
  margin-left: 2em;
  user-select: none;
  z-index: -10; }
  .seqlogo .seqlogo-aminoacid {
    width: 50px; }
    .seqlogo .seqlogo-aminoacid .seqlogo-aa-list {
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end; }
      .seqlogo .seqlogo-aminoacid .seqlogo-aa-list .seqlogo-aa-letter {
        width: 100%;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-align: center;
        font-family: "DejaVu Sans Mono";
        overflow: hidden; }
        .seqlogo .seqlogo-aminoacid .seqlogo-aa-list .seqlogo-aa-letter span {
          position: relative;
          display: inline-block;
          transform-origin: center top; }
    .seqlogo .seqlogo-aminoacid .seqlogo-aa-num {
      margin-top: 5px;
      border-top: 2px solid #2c3c44;
      text-align: center;
      font-size: 0.9em;
      font-weight: bold; }

.seqlogo-color-0 {
  color: #0072B2; }

.seqlogo-color-1 {
  color: #009E73; }

.seqlogo-color-2 {
  color: #D55E00; }

.seqlogo-color-3 {
  color: #CC79A7; }

.seqlogo-color-4 {
  color: #9d8b4f; }

.inline {
  display: inline-block;
  vertical-align: middle; }

h3:target, h2:target {
  animation: highlight 1s ease; }

@keyframes highlight {
  from {
    background: yellow; }
  to {
    background: white; } }

/*# sourceMappingURL=.styles.css.map */
