<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results for family #{{ family.family_id }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href=".styles.css">
</head>
<body data-spy="scroll" data-target="#navbar">

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
    $(document).ready(function () {
        $('.smooth-scroll').on('click', function () { // Au clic sur un élément
            var page = $(this).attr('href'); // Page cible
            var speed = 200; // Durée de l'animation (en ms)
            $('html, body').animate({scrollTop: $(page).offset().top}, speed); // Go
            return true;
        });
    });
</script>


<!-- Secondary structure elements -->
<svg
        xmlns:svg="http://www.w3.org/2000/svg"
        xmlns="http://www.w3.org/2000/svg"
        id="svg8"
        version="1.1"
        viewBox="0 0 20 20"
        height="20"
        width="20"
        style="display: none">
    <defs
            id="defs2">
        <g
                id="v">
            <circle cx="2" cy="10" r="1"></circle>
            <circle cx="5" cy="10" r="1"></circle>
            <circle cx="8" cy="10" r="1"></circle>
            <circle cx="11" cy="10" r="1"></circle>
            <circle cx="14" cy="10" r="1"></circle>
            <circle cx="17" cy="10" r="1"></circle>
        </g>
        <g
                id="cap-both">
            <path
                    id="cap-both-path"
                    d="M 6.5984253e-7,8.0000001 V 12 A 1.9999997,1.9999999 0 0 0 2.0000016,10 1.9999997,1.9999999 0 0 0 6.5984253e-7,8.0000001 Z M 20.000001,8.0000001 A 1.9999997,1.9999999 0 0 0 18,10 a 1.9999997,1.9999999 0 0 0 2.000001,2 z"
                    style="display:inline;stroke-width:3.99999976;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none">
            </path>

        </g>
        <g
                id="cap-right">
            <path
                    style="display:inline;stroke-width:4.00000477;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
                    d="M 20,7.9999801 A 1.9999986,2.0000062 0 0 0 18,10 a 1.9999986,2.0000062 0 0 0 2,1.99998 z"
                    id="path1873">
            </path>
            <circle cx="4" cy="10" r="1"></circle>
            <circle cx="7" cy="10" r="1"></circle>
            <circle cx="10" cy="10" r="1"></circle>
            <circle cx="13" cy="10" r="1"></circle>
            <circle cx="16" cy="10" r="1"></circle>
        </g>
        <g
                id="cap-left">
            <path
                    id="cap-left-path"
                    d="M -1.8897637e-8,7.9999801 A 1.9999986,2.0000062 0 0 1 2,10 1.9999986,2.0000062 0 0 1 -1.8897637e-8,11.99998 Z">

            </path>
            <circle cx="4" cy="10" r="1"></circle>
            <circle cx="7" cy="10" r="1"></circle>
            <circle cx="10" cy="10" r="1"></circle>
            <circle cx="13" cy="10" r="1"></circle>
            <circle cx="16" cy="10" r="1"></circle>
        </g>
        <g
                id="c">
            <path
                    id="path1875"
                    d="M -3.7795268e-7,8.0000001 V 12 H 20 V 8.0000001 Z">
            </path>
        </g>
        <g
                id="be">
            <path
                    id="path1877"
                    d="m 12,2e-7 v 4 H 8.8661418e-7 V 16 H 12 v 4 l 8.000001,-10 z">
            </path>
        </g>
        <g
                id="bm">
            <path
                    id="beta-middle-path"
                    d="M -1.889764e-7,4.0000002 H 20 V 16 H -1.889764e-7 Z">
            </path>
        </g>
        <g
                id="bs">
            <path
                    id="path1879"
                    d="M 4.0015625,4 V 7.996091 H 0 v 4.00196 H 4.0015625 V 16 H 20 V 4 Z">
            </path>
        </g>
        <g
                id="bo">
            <path
                    id="beta-single-path"
                    d="M 12.000781,0 V 3.9999996 H 4.0015622 V 7.99805 H 0 v 4 H 4.0015622 V 16 h 7.9992188 v 4 L 20,9.9999995 Z">
            </path>
        </g>
        <g
                id="te">
            <path
                    id="turn-end-path"
                    d="M 0,0 V 4 H 2 C 3.333513,4.000038 4.8981104,4.7266864 6.0839844,5.9121094 7.2698624,7.0975694 7.9960938,8.666986 7.9960938,10 L 8,10.003906 A 2,2 0 0 0 9.9960938,12 2,2 0 0 0 10,12 H 20 V 8 H 11.103516 C 10.623974,6.22402 10.199784,4.3731294 8.9101562,3.0839844 7.0956623,1.2701434 4.666981,3.8e-5 2,0 Z">
            </path>
        </g>
        <g
                id="tm">
            <path
                    id="turn-middle-path"
                    d="M 0,0 V 4 H 20 V 0 Z">

            </path>
        </g>
        <g
                id="ts">
            <path
                    id="turn-start-path"
                    d="M 18,0 C 15.333019,3.8e-5 12.904338,1.2701434 11.089844,3.0839844 9.8002155,4.3731284 9.3760265,6.22402 8.8964844,8 H 0 v 4 H 10 A 2.0000062,2.0000062 0 0 0 10.0039,12 2.0000062,2.0000062 0 0 0 12,10.005859 L 12.005859,10 c 0,-1.3330139 0.726232,-2.9024306 1.91211,-4.0878906 C 15.103843,4.7266874 16.666487,4.000038 18,4 h 2 V 0 Z"
                    style="display:inline;stroke-width:4.0000124;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none">
            </path>
        </g>
        <g
                id="to">
            <path
                    id="turn-single-path"
                    d="M -2.0944882e-6,11.999587 V 8.0003812 H 4.1983977 C 4.2267347,6.6150372 4.1540907,5.2178672 4.6045686,3.8664212 4.9388413,2.8636432 5.5068083,1.8467692 6.4577223,1.1071852 7.4086353,0.36756319 8.6669303,1.8897637e-7 9.9999999,1.8897637e-7 11.333078,1.8897637e-7 12.591357,0.36731719 13.542278,1.1071852 c 0.950922,0.739584 1.518894,1.75642 1.853154,2.759236 0.450489,1.351446 0.377783,2.748616 0.406171,4.13396 h 4.198395 v 3.9992058 h -5.998825 l -0.002,-0.0019 a 1.9996099,1.9996099 0 0 1 -1.99961,-1.9996238 c -4.5e-5,-1.998827 -0.06719,-3.874657 -0.39836,-4.868179 -0.165626,-0.49691 -0.341668,-0.727905 -0.515524,-0.863112 -0.173861,-0.13526 -0.419193,-0.265646 -1.0857257,-0.265646 -0.666541,3.8e-5 -0.91186,0.130386 -1.085726,0.265646 -0.173862,0.135297 -0.349866,0.366146 -0.515523,0.863112 -0.331179,0.993522 -0.398316,2.869315 -0.398361,4.868179 a 1.9996099,1.9996099 0 0 1 0,0.002 1.9996099,1.9996099 0 0 1 -1.99961,1.997659 l -0.002,0.0019 z">

            </path>
        </g>
        <g
                id="he">
            <path
                    id="helix-end-path"
                    d="M 5.994722,0 C 4.661262,0 3.415472,0.379348 2.46704,1.078209 1.518607,1.777033 0.913578,2.692821 0.459023,3.601881 0.288398,3.943204 0.144838,4.290423 0,4.637151 V 15.347087 C 0.62383,13.850861 1.073933,12.32417 1.787282,10.897456 2.906653,8.658749 3.448407,6.5791 4.039454,5.396981 4.334966,4.80596 4.605036,4.473482 4.84422,4.297265 5.051358,4.144558 5.353141,4.064802 5.840408,4.037587 c 0.149873,0.17085 0.426641,0.60633 0.687567,1.232542 0.527953,1.26709 1.027451,3.213158 1.527497,5.213355 0.500039,2.000159 0.998698,4.054407 1.72087,5.787631 0.361093,0.866575 0.769775,1.668588 1.402477,2.377164 C 11.811521,19.356968 12.830679,20 13.997453,20 c 1.666833,0 3.134944,-1.106483 3.795299,-2.23848 0.660345,-1.132073 0.894619,-2.277601 1.144644,-3.277681 0.25004,-1.000079 0.515797,-1.852781 0.73054,-2.220903 C 19.882672,11.894776 19.666636,12.003258 20,12.003258 V 8.002903 c -1.666832,0 -3.127134,1.104555 -3.787478,2.236552 -0.660356,1.131997 -0.900477,2.277564 -1.150502,3.277605 -0.250003,1.000155 -0.509939,1.862572 -0.724682,2.230694 -0.139667,0.239266 -0.174971,0.165558 -0.220746,0.162156 C 13.962523,15.721673 13.721986,15.331249 13.473961,14.735995 12.946,13.468905 12.4387,11.516902 11.93865,9.516743 11.438604,7.516546 10.939952,5.462298 10.217784,3.729111 9.856691,2.862499 9.447997,2.06642 8.815296,1.357807 8.182594,0.649156 7.161497,2.65e-4 5.994711,2.65e-4 Z">
            </path>
        </g>
        <g
                id="hm">
            <path
                    id="helix-middle-path"
                    d="m 6.005864,2e-7 c -1.333331,0 -2.580961,0.37931 -3.529301,1.07811 -0.948341,0.69875 -1.56112,1.62224 -2.015623,2.53125 C 0.289047,3.9532902 0.145349,4.3030102 0,4.6523102 V 15.36904 c 0.626873,-1.50311 1.072283,-3.03903 1.789063,-4.47263 1.119258,-2.2384998 1.66097,-4.3179798 2.25196,-5.4999898 0.295484,-0.59092 0.56552,-0.92337 0.804681,-1.09957 0.207307,-0.15269 0.515739,-0.23244 1.00391,-0.25965 0.149897,0.17083 0.418799,0.6082 0.679688,1.23435 0.527891,1.26697 1.03516,3.21874 1.53515,5.2187498 0.5000021,2 0.9986011,4.04619 1.7207141,5.77925 0.3610579,0.86649 0.7696969,1.66842 1.4023369,2.37693 0.622273,0.69698 1.620923,1.33273 2.763671,1.35352 h 0.113273 c 1.311583,-0.0113 2.536063,-0.38354 3.470711,-1.07225 0.94834,-0.69875 1.553303,-1.62417 2.00781,-2.53321 C 19.712933,16.05476 19.855648,15.70863 20,15.3633 V 4.6621802 c -0.622889,1.49483 -1.072521,3.02198 -1.785162,4.44727 -1.119247,2.2384898 -1.660959,4.3179798 -2.251949,5.4999498 -0.295484,0.591 -0.565531,0.91555 -0.804692,1.09178 -0.207156,0.1527 -0.5086,0.23849 -0.996087,0.2657 -0.149859,-0.17083 -0.426603,-0.60623 -0.6875,-1.23238 -0.527902,-1.26697 -1.027341,-3.21878 -1.527342,-5.2187498 -0.500001,-2 -0.998612,-4.04816 -1.72071,-5.78122 C 9.8655001,2.8680102 9.4568571,2.0661802 8.8242171,1.3576002 8.191577,0.6490602 7.172518,1.902e-4 6.005856,1.902e-4 Z">
            </path>
        </g>
        <g
                id="hs">
            <path
                    id="helix-start-path"
                    d="m 6.001953,8.02e-5 c -1.666659,0 -3.134639,1.11235 -3.794919,2.24434 -0.66028,1.132 -0.894532,2.26979 -1.144532,3.26987 -0.250016,1.00012 -0.515751,1.86254 -0.730471,2.23068 -0.214714,0.36815 0.0013,0.25777 -0.332031,0.25777 V 12.00512 c 1.66667,0 3.126831,-1.11235 3.787111,-2.2443798 0.660284,-1.13201 0.902344,-2.27172 1.152341,-3.27179 0.249978,-1.00013 0.507942,-1.86063 0.722661,-2.22871 0.135232,-0.23171 0.175635,-0.16254 0.214828,-0.16216 0.153866,0.18749 0.39978,0.57711 0.648443,1.17396 0.527898,1.26709 1.03516,3.21125 1.535158,5.2114598 0.500002,2.00016 0.9985931,4.05441 1.7207021,5.78765 0.3610589,0.86657 0.7697019,1.66855 1.4023419,2.37716 C 11.816235,19.35697 12.837236,20 14.003905,20 15.337236,20 16.582908,19.62061 17.531249,18.92179 18.47959,18.22292 19.08456,17.30524 19.53906,16.39614 19.710538,16.05331 19.854537,15.70544 20,15.35697 V 4.6469602 c -0.624662,1.49755 -1.075152,3.02758 -1.789063,4.45551 -1.119258,2.2387498 -1.66097,4.3262798 -2.251961,5.5083498 -0.295483,0.59106 -0.565527,0.91565 -0.80468,1.0919 -0.208555,0.15384 -0.509508,0.23133 -1.003908,0.25779 -0.150576,-0.17388 -0.418692,-0.60297 -0.67773,-1.22472 -0.527902,-1.2671 -1.029302,-3.21907 -1.529304,-5.2192398 -0.499997,-2.0002 -0.99665,-4.0545 -1.718748,-5.78765 C 9.8635471,2.8622502 9.4549051,2.0661702 8.822265,1.3575602 8.189624,0.64889019 7.168614,2e-7 6.001942,2e-7 Z">
            </path>
        </g>
        <g
                id="ho">
            <path
                    id="helix-single-path"
                    d="m 5.9999996,2e-7 c -1.6662543,0 -3.1258567,1.11189 -3.7859772,2.24354 -0.6601201,1.13162 -0.901353,2.26962 -1.1512913,3.26936 -0.249939,0.99974 -0.5085829,1.86077 -0.7232468,2.22876 C 0.1248184,8.1097002 0.3332543,8.0001202 0,8.0001202 V 12.00014 c 1.6662543,0 3.133236,-1.11192 3.7933572,-2.2435398 0.6601209,-1.13165 0.901353,-2.26961 1.1512914,-3.26939 0.249939,-0.99974 0.508583,-1.86077 0.723247,-2.22877 0.134083,-0.22974 0.168945,-0.1621 0.20664,-0.16248 0.15383,0.18742 0.408184,0.57669 0.656826,1.17344 0.527768,1.26663 1.027798,3.2182 1.527675,5.2177198 0.4998765,1.99948 0.9976315,4.04597 1.7195565,5.77857 0.3609629,0.86632 0.7697289,1.66802 1.4022149,2.3764 C 11.813293,19.35046 12.833617,20 13.999995,20 c 1.666257,0 3.125858,-1.11189 3.785977,-2.24354 0.660117,-1.13162 0.901354,-2.26962 1.151289,-3.26936 0.249954,-0.99974 0.508584,-1.86077 0.72325,-2.22876 0.214662,-0.36804 0.006,-0.25846 0.339469,-0.25846 V 7.9998602 c -1.666255,0 -3.133234,1.11192 -3.793355,2.2435398 -0.660119,1.13165 -0.901353,2.26961 -1.151291,3.26939 -0.249939,0.99974 -0.508582,1.86077 -0.723247,2.22877 -0.134083,0.22974 -0.168945,0.16248 -0.20664,0.16248 -0.15383,-0.18742 -0.408184,-0.57669 -0.656826,-1.17344 -0.527756,-1.26663 -1.027786,-3.2182 -1.527663,-5.2177198 -0.499877,-1.99948 -0.997633,-4.04597 -1.719557,-5.77857 -0.3609629,-0.86632 -0.7697299,-1.66802 -1.4022149,-2.3764 C 8.1867016,0.6495402 7.1663786,2e-7 5.9999996,2e-7 Z">
            </path>
        </g>
    </defs>
</svg>


<div class="wrapper">

    <nav id="sidebar" class="bg-dark text-light">
        <div id="sidebar-button">
            <a href="#"><i id="sidebarCollapse" class="fas fa-times primary-link"></i></a>
        </div>
        <div class="sidebar-header">
             <h2>Navigation</h2>
        </div>
        <nav id="navbar" class="nav flex-column text-light">
            <a class="nav-link smooth-scroll" href="#top">Top</a>
            <a class="nav-link smooth-scroll" href="#summary">Summary</a>
            <a class="nav-link smooth-scroll" href="#best_peptide">Best peptide</a>
            <nav class="nav flex-column">
                <a class="nav-link ml-3 my-1 smooth-scroll" href="#best_peptide-seqs">Optimal peptides</a>
                <a class="nav-link ml-3 my-1 smooth-scroll" href="#best_peptide-best">Best sequence</a>
                <a class="nav-link ml-3 my-1 smooth-scroll" href="#best_peptide-ss">Secondary structure</a>
                <a class="nav-link ml-3 my-1 smooth-scroll" href="#best_peptide-dssp">DSSP structure</a>
            </nav>
            <a class="nav-link smooth-scroll" href="#family_members">Family members</a>
            <nav class="nav flex-column">
                <a class="nav-link ml-3 my-1 smooth-scroll" href="#family_members-freqs">Amino acid frequency</a>
                <a class="nav-link ml-3 my-1 smooth-scroll" href="#family_members-types">Amino acid type</a>
                <a class="nav-link ml-3 my-1 smooth-scroll" href="#family_members-polarity">Amino acid polarity</a>
                <a class="nav-link ml-3 my-1 smooth-scroll" href="#family_members-ss">Secondary structure</a>
                <a class="nav-link ml-3 my-1 smooth-scroll" href="#family_members-dssp">DSSP structure</a>
            </nav>
            <a class="nav-link smooth-scroll" href="#property_table">Property details</a>
        </nav>
    </nav>
    <script>
        $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');

            $('#sidebarCollapse').toggleClass("fa-times");
            $('#sidebarCollapse').toggleClass("fa-angle-right");
        });

    });
    </script>

    <section class="family-results" id="content">
        <h1 id="top">
            Results from family similar to {{ family.best_alignment }} (#{{ family.family_id }} out of {{ family.nfamilies }})
        </h1>

        <h2 id="summary">Summary</h2>
        <ul>
            <li>This family has <span class="family_size">{{ family.size }}</span> elements</li>
            <li>Peptide used to generate this family (father): <span
                    class="best_alignment">{{ family.best_alignment }}</span></li>
            <li>
                Sequence logo: <br/>
                <div class="seqlogo d-flex">
                    {% for aminoacid in family.get_aminoacid_probability() %}
                        <div class="seqlogo-aminoacid">
                            <div class="seqlogo-aa-list">
                                {% set offset = 0 %}
                                {% set base_size = 200 %}
                                {% set font_size_to_height_ratio = 2384/2048 %}
                                {% for aa_letter, aa_prob in aminoacid.items() %}
                                    {% set scaling_factor =  24 * aa_prob %}
                                    <div class="seqlogo-aa-letter seqlogo-color-{{ loop.index0 % 5 }}"
                                         style="height: {{ base_size * aa_prob }}px">
                                <span
                                        style="transform: scale(4.5, {{ scaling_factor }}); top: -{{ scaling_factor * 0.5 }}px;"
                                        data-toggle="tooltip"
                                        title="{% if aa_letter == "-" %}No amino acid{% else %}{{ aa_letter }}{% endif %} - Frequency: {{ "{:.1f}".format(aa_prob * 100) }}%"
                                        data-placement="right">{{ aa_letter }}</span>
                                    </div>

                                {% endfor %}
                            </div>
                            <div class="seqlogo-aa-num">
                                {{ loop.index }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </li>
        </ul>

        <h2 id="best_peptide">Best representing peptide</h2>

        <h3 id="best_peptide-seqs">Optimal peptide sequences as calculated from the most abundant residue at
            each position
            (1-{{ family.summary_per_position|length }}): </h3>
        <p class="color-scale">
            {% for ansi_color, info in family.polarity_colorscale %}
                <span class="ansi_color-{{ ansi_color }} restype-color-scale">{{ info }}</span>
            {% endfor %}
        </p>
        <ol>
            {% for elem in family.summary_per_position %}
                <li>
                    <div class="sequence">
                        {% for ansi_color, letter in elem %}
                            <span class="sequence_letter {% if ansi_color %}ansi_color-{{ ansi_color }}{% endif %}">{{ letter }}</span>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ol>

        <h3 id="best_peptide-best">Best representing sequence:</h3>

        <p>
            <span class="best_alignment">{{ family.best_representing_sequence }}</span>
            {% if family.best_representing_ids|length > 0 %}(ID{% if family.best_representing_ids|length > 1 %}s
            {% endif %}:
                {% for bdid in family.best_representing_ids %}{{ bdid|dblink }}{% if not loop.last %}, {% endif %}{% endfor %}){% endif %}
        </p>

        <h3 id="best_peptide-ss">
            Consensus secondary structure:
        </h3>
        <p class="color-scale" style="margin-bottom: 0">
            <b>Legend</b>:
        </p>
        <div class="ss_legend">
            <figure>
                <svg viewBox="0 0 20 20" class="ssa">
                    <use href="#ho"></use>
                </svg>
                <figcaption>
                    &alpha;-helix
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="sss">
                    <use href="#bo"></use>
                </svg>
                <figcaption>
                    &beta;-sheet
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="sst">
                    <use href="#to"></use>
                </svg>
                <figcaption>
                    H-bonded turn
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="ssc">
                    <use href="#c"></use>
                </svg>
                <figcaption>
                    Coil
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="ssv">
                    <use href="#v"></use>
                </svg>
                <figcaption>
                    No amino acid
                </figcaption>
            </figure>
        </div>

        <div class="sselem-sequence">
            {% for klass, icon in family.ss_prediction %}
                <svg viewBox="0 0 20 20"
                     class="{{ klass }}">
                    <use href="#{{ icon }}">
                    </use>
                </svg>
            {% endfor %}
        </div>


        <h3 id="best_peptide-dssp">
            Consensus secondary structure (from DSSP):
        </h3>
        <p class="color-scale" style="margin-bottom: 0">
            <b>Legend</b>:
        </p>
        <div class="ss_legend">
            <figure>
                <svg viewBox="0 0 20 20" class="ssa">
                    <use href="#ho"></use>
                </svg>
                <figcaption>
                    &alpha;-helix
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="ss3">
                    <use href="#ho"></use>
                </svg>
                <figcaption>
                    3<sub>10</sub>&nbsp;helix
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="ssp">
                    <use href="#ho"></use>
                </svg>
                <figcaption>
                    &pi;-helix
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="sss">
                    <use href="#bo"></use>
                </svg>
                <figcaption>
                    &beta;-sheet
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="ssb">
                    <use href="#bo"></use>
                </svg>
                <figcaption>
                    &beta;-bridge
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="sst">
                    <use href="#to"></use>
                </svg>
                <figcaption>
                    H-bonded turn
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="sse">
                    <use href="#to"></use>
                </svg>
                <figcaption>
                    bend
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="ssc">
                    <use href="#c"></use>
                </svg>
                <figcaption>
                    Coil
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="ssv">
                    <use href="#v"></use>
                </svg>
                <figcaption>
                    No amino acid
                </figcaption>
            </figure>
        </div>

        <div class="sselem-sequence">
            {% for klass, icon in family.dssp_prediction %}
                <svg viewBox="0 0 20 20"
                     class="{{ klass }}">
                    <use href="#{{ icon }}">
                    </use>
                </svg>
            {% endfor %}
        </div>


        <h2 id="family_members">Family members</h2>

        <h3 id="family_members-freqs">
            Family members coloured by frequency:
        </h3>
        <p class="color-scale">
            <b>Legend</b>:
            {% for color, value in family.frequency_colorscale %}
                <span class="ansi_bgcolor-{{ color }} frequency-color-scale">{{ value }}&nbsp;%</span>
            {% endfor %}
        </p>
        <ol>
            {% for member in family %}
                <li>
                    <div class="sequence">
                        {% for letter, ansi_bgcolor in member.frequency_items() %}
                            <span class="sequence_letter {% if ansi_bgcolor %}ansi_bgcolor-{{ ansi_bgcolor }}{% endif %}">{{ letter }}</span>
                        {% endfor %}

                        <span class="similarity {% if member.is_father %}similarity-father{% endif %}">{% if member.is_father %}
                            Father{% else %}{{ member.similarity }}% similarity to father{% endif %}</span>
                    </div>
                </li>
            {% endfor %}
        </ol>

        <h3 id="family_members-types">
            Family members coloured by residue type:
        </h3>
        <p class="color-scale">
            <b>Legend</b>:
            {% for ansi_color, info in family.restype_colorscale %}
                <span class="ansi_color-{{ ansi_color }} restype-color-scale">{{ info }}</span>
            {% endfor %}
        </p>
        <ol>
            {% for member in family %}
                <li>
                    <div class="sequence">
                        {% for letter, ansi_color in member.restype_items() %}
                            <span class="sequence_letter {% if ansi_color %}ansi_color-{{ ansi_color }}{% endif %}">{{ letter }}</span>
                        {% endfor %}

                        <span class="similarity {% if member.is_father %}similarity-father{% endif %}">{% if member.is_father %}
                            Father{% else %}{{ member.similarity }}% similarity to father{% endif %}</span>
                    </div>
                </li>
            {% endfor %}
        </ol>

        <h3 id="family_members-polarity">
            Family members coloured by polarity:
        </h3>
        <p class="color-scale">
            <b>Legend</b>:
            {% for ansi_color, info in family.polarity_colorscale %}
                <span class="ansi_color-{{ ansi_color }} restype-color-scale">{{ info }}</span>
            {% endfor %}
        </p>
        <ol>
            {% for member in family %}
                <li>
                    <div class="sequence">
                        {% for letter, ansi_color in member.polarity_items() %}
                            <span class="sequence_letter {% if ansi_color %}ansi_color-{{ ansi_color }}{% endif %}">{{ letter }}</span>
                        {% endfor %}

                        <span class="similarity {% if member.is_father %}similarity-father{% endif %}">{% if member.is_father %}
                            Father{% else %}{{ member.similarity }}% similarity to father{% endif %}</span>
                    </div>
                </li>
            {% endfor %}
        </ol>

        <h3 id="family_members-ss">
            Secondary structure prediction for family members:
        </h3>
        <p class="color-scale" style="margin-bottom: 0">
            <b>Legend</b>:
        </p>
        <div class="ss_legend">
            <figure>
                <svg viewBox="0 0 20 20" class="ssa">
                    <use href="#ho"></use>
                </svg>
                <figcaption>
                    &alpha;-helix
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="sss">
                    <use href="#bo"></use>
                </svg>
                <figcaption>
                    &beta;-sheet
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="sst">
                    <use href="#to"></use>
                </svg>
                <figcaption>
                    H-bonded turn
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="ssc">
                    <use href="#c"></use>
                </svg>
                <figcaption>
                    Coil
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="ssv">
                    <use href="#v"></use>
                </svg>
                <figcaption>
                    No amino acid
                </figcaption>
            </figure>
        </div>
        <ol>
            {% for member in family %}
                <li>
                    <div class="sselem-sequence">
                        {% for klass, icon in member.ss_predicted %}
                            <svg viewBox="0 0 20 20"
                                 class="{{ klass }}">
                                <use href="#{{ icon }}">
                                </use>
                            </svg>
                        {% endfor %}
                        {% if member.ss_predicted|length != member.aligned_sequence|length %}
                            <span class="nossdata">Missing data!</span>
                        {% endif %}
                        <span class="similarity {% if member.is_father %}similarity-father{% endif %}">{% if member.is_father %}
                            Father{% else %}{{ member.similarity }}% similarity to father{% endif %}</span>
                    </div>
                </li>
            {% endfor %}
        </ol>


        <h3 id="family_members-dssp">
            Secondary structure from DSSP for family members:
        </h3>
        <p class="color-scale" style="margin-bottom: 0">
            <b>Legend</b>:
        </p>
        <div class="ss_legend">
            <figure>
                <svg viewBox="0 0 20 20" class="ssa">
                    <use href="#ho"></use>
                </svg>
                <figcaption>
                    &alpha;-helix
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="ss3">
                    <use href="#ho"></use>
                </svg>
                <figcaption>
                    3<sub>10</sub>&nbsp;helix
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="ssp">
                    <use href="#ho"></use>
                </svg>
                <figcaption>
                    &pi;-helix
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="sss">
                    <use href="#bo"></use>
                </svg>
                <figcaption>
                    &beta;-sheet
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="ssb">
                    <use href="#bo"></use>
                </svg>
                <figcaption>
                    &beta;-bridge
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="sst">
                    <use href="#to"></use>
                </svg>
                <figcaption>
                    H-bonded turn
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="sse">
                    <use href="#to"></use>
                </svg>
                <figcaption>
                    bend
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="ssc">
                    <use href="#c"></use>
                </svg>
                <figcaption>
                    Coil
                </figcaption>
            </figure>
            <figure>
                <svg viewBox="0 0 20 20" class="ssv">
                    <use href="#v"></use>
                </svg>
                <figcaption>
                    No amino acid
                </figcaption>
            </figure>
        </div>
        <ol>
            {% for member in family %}
                <li>
                    <div class="sselem-sequence">
                        {% for klass, icon in member.ss_dssp %}
                            <svg viewBox="0 0 20 20"
                                 class="{{ klass }}">
                                <use href="#{{ icon }}">
                                </use>
                            </svg>
                        {% endfor %}
                        {% if member.ss_dssp|length != member.aligned_sequence|length %}
                            <span class="nossdata">Missing data!</span>
                        {% endif %}
                        <span class="similarity {% if member.is_father %}similarity-father{% endif %}">{% if member.is_father %}
                            Father{% else %}{{ member.similarity }}% similarity to father{% endif %}</span>
                    </div>
                </li>
            {% endfor %}
        </ol>


        <h2 id="property_table">Detailed properties</h2>

        {% if family.has_empty_properties %}
            <p id="prop-warning">
                Some properties lack data, you can toggle their display using this button:&nbsp;
                <button id="prop-button" onmousedown="busyStart(this);" onclick="togglePropertyDisplay(this)"
                        class="btn btn-primary">Show properties without data
                </button>
            </p>
            <script>
                function busyStart(button) {
                    button.classList.add('busy');
                }

                function togglePropertyDisplay(button) {
                    var elems = document.getElementsByClassName("nodata");
                    var i;

                    console.log(elems.length + " elements to toggle");
                    for (i = 0; i < elems.length; i++) {
                        elems[i].classList.toggle("hidden");
                    }

                    if (button.innerText.startsWith("Hide")) {
                        button.innerText = "Show all properties";
                    } else {
                        button.innerText = "Hide properties without data";
                    }

                    button.classList.remove('busy');
                }

            </script>
        {% endif %}

        <table class="property_table table table-hover table-striped">
            <thead>
            <tr>
                <th class="rch">
                    <div><span>Family member</span></div>
                </th>
                {% for prop in family.properties.values() %}
                    <th class="rch {% if prop.is_empty() %}nodata hidden text-secondary{% endif %}">
                        <div>
                            <span>
                                {{ prop.name.capitalize() }}
                            </span>
                        </div>
                    </th>
                {% endfor %}
            </tr>
            <tr>
                <th class="dl">
                </th>
                {% for prop in family.properties.values() %}
                    <th class="dl {% if prop.is_empty() %}nodata hidden{% endif %}">
                        <a href="#{{ prop.raw_name }}-details" id="{{ prop.raw_name }}-table-entry"
                           title="Details on {{ prop.name }}" class="smooth-scroll"
                           onclick="$('#{{ prop.raw_name }}-details').effect('highlight', {}, 2000)"><i
                                class="fas fa-search"></i></a>
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for i in range(family.size) %}
                <tr>
                    <td class="row-header">{{ i + 1 }}</td>
                    {% for prop in family.properties.values() %}
                        {% if prop.is_value_empty(i) %}
                            {% set icon = "fa-question" %}
                            {% set tooltip_text = "No data available" %}
                            {% set additional_classes = ["text-secondary"] %}
                        {% else %}
                            {% set icon = "fa-check" %}
                            {% set tooltip_text = "Click to see data" %}
                            {% set additional_classes = ["text-success"] %}
                        {% endif %}
                        <td {% if prop.is_empty() %}class="nodata hidden"{% endif %}>
                            <a class="smooth-scroll" href="#{{ prop.raw_name }}-details-member-{{ i }}"
                               onclick="$('#{{ prop.raw_name }}-details-member-{{ i }}').effect('highlight', {}, 2000)">
                                <i class="fas {{ icon }} {{ additional_classes|join(" ") }}"
                                   data-toggle="tooltip"
                                   title="{{ tooltip_text }}" data-placement="top"></i>
                            </a>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="d-flex flex-wrap justify-content-center align-items-start align-self-start">
            {% for name, prop in family.properties.items() %}
                <section id="{{ prop.raw_name }}-details" class="value-details {% if prop.is_empty() %}nodata hidden{% endif %}"
                         {% if prop.is_empty() %}style="order: 999"{% endif %}>
                    <h4>
                        Details on <span>{{ prop.name }}</span> property:
                    </h4>
                    {% if prop.is_empty() %}
                        <p class="nodata hidden">Sorry, no data available.</p>
                    {% else %}
                        <p>Statistics:</p>
                        {% with labels, values = prop.get_statistics(prop.raw_name == "ID") %}
                            <div id="{{ prop.raw_name }}-stats"></div>
                            <script>

                                var data = [{

                                    values: [{% for value in values %}'{{ value }}'{% if not loop.last %},{% endif %}{% endfor %}],
                                    labels: [{% for label in labels %}'{{ label|replace("_"," ") }}'{% if not loop.last %},{% endif %}{% endfor %}],
                                        type
                                :
                                'pie',
                                    textinfo
                                :
                                'label+percent',
                                    textposition
                                :
                                'inside',
                                    hoverinfo
                                :
                                'label+percent',

                                }]
                                ;

                                var layout = {
                                    autosize: true,
                                    height: 300,
                                    showlegend: false,
                                    legend: {"orientation": "h"},
                                    paper_bgcolor: "rgba(0,0,0,0)",
                                    margin: {
                                        l: 20,
                                        r: 20,
                                        t: 10,
                                        b: 10,
                                    },
                                };

                                Plotly.newPlot('{{ prop.raw_name }}-stats', data, layout);
                            </script>
                        {% endwith %}
                        <p>Values:</p>
                        <ol>
                            {% for member in family %}
                                <li id="{{ prop.raw_name }}-details-member-{{ member.id }}">
                                    {% for value in prop.format_values_for_member(member.id) %}
                                        <span class="nobreak">{% if prop.name == 'ID' %}{{ value|dblink }}{% else %}{{ value }}{% endif %}</span>{% if not loop.last %},
                                    {% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                    <a href="#property_table" title="Go to table" class="return-link smooth-scroll">
                        <i class="fas fa-arrow-up"></i>
                        <span>Go to table</span>
                        <i class="fas fa-arrow-up"></i>
                    </a>
                </section>

            {% endfor %}
        </div>


        {% if error_output|length > 0 %}
            <pre style="background: #f9ba94; border: 3px solid red; font-family: sans-serif; font-weight: bold;">
        <span style="font-size: 1.7em">Errors:</span>
    {{ error_output }}
    </pre>
        {% endif %}


    </section>

</body>
</html>